/* Bootstrap Overrides */

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

/* Helper Classes */

.align-center  {
	text-align: center;
}

.align-left  {
	text-align: left;
}

.align-right  {
	text-align: right;
}

.bump-20	{
	margin-top: 20px;
}

.dimmed	{
	color: #ddd;
}

.padding-10  {
	padding: 10px;
}

.white-text  {
	color: #fff;
}

.label-player8 {
	background-color: #e469bf;
	color: #fff;
}

.line {
	stroke: blue;
	fill:none;
	stroke-width: 3;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 10px;
	font-family: sans-serif;
}

.area {
  fill: steelblue;
  opacity: 0.1;
}

.text-label {
	font-size: 10px;
	font-family: sans-serif;
}